[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
dacite = "*"

[dev-packages]
pytest-cov = "*"
pytest = "*"
pytest-mock = "*"
twine = "*"

[pipenv]
allow_prereleases = false

[scripts]
test = "python -m pytest --doctest-modules --junitxml=junit/test-results.xml --cov=visual_regression_tracker --cov-report=xml --cov-report=html"
clean = "rm -rf dist/ build/ visual_regression_tracker.egg-info/ htmlcov/ junit/ .pytest_cache/ .coverage"
build = "bash -c 'python setup.py sdist bdist_wheel && twine check dist/*'"
upload = "twine upload dist/*"
